.paragraph {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--space-paragraph-gap);
  padding: 0 0 var(--space-paragraph-pad-bottom);
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}

.quoteLead {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.quoteBody {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: var(--dimensions-d-1-5, 6px);
  border-right: 1px solid var(--color-accent);
  transition: border-color 0.3s ease;
}

.quote .text,
.quoteLead .text,
.quoteBody .text {
  text-align: right;
}


